/* 
 * Base Global Styles
 * Migrated from global.scss to Tailwind CSS v4
 */

/* Font definitions */
:root {
  --font-anton: "Anton", sans-serif;
  --font-panchang: "Panchang", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Typography styles */
.h1 {
  text-transform: uppercase;
  line-height: 95%;
  font-size: 14.9333333333vw;
}

@media (min-width: 800px) {
  .h1 {
    font-size: 11.1111111111vw;
    line-height: 95%;
  }
}

.h1.vh {
  font-size: 8.6153846154vh;
}

@media (min-width: 800px) {
  .h1.vh {
    font-size: 18.8235294118vh;
  }
}

.h2 {
  text-transform: uppercase;
  line-height: 90%;
  font-size: 14.9333333333vw;
}

@media (min-width: 800px) {
  .h2 {
    font-size: 6.6666666667vw;
  }
}

.h2.vh {
  font-size: 8.6153846154vh;
}

@media (min-width: 800px) {
  .h2.vh {
    font-size: 11.2941176471vh;
  }
}

.h3 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 90%;
  font-size: 5.3333333333vw;
  font-family: var(--font-panchang);
}

@media (min-width: 800px) {
  .h3 {
    font-size: 3.6111111111vw;
  }
}

.h3.vh {
  font-size: 3.0769230769vh;
}

@media (min-width: 800px) {
  .h3.vh {
    font-size: 6.1176470588vh;
  }
}

.h4 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  font-size: 5.3333333333vw;
  font-family: var(--font-panchang);
}

@media (min-width: 800px) {
  .h4 {
    font-size: 1.9444444444vw;
  }
}

.p-l {
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 100%;
  font-size: 8.5333333333vw;
}

@media (min-width: 800px) {
  .p-l {
    font-size: 4.4444444444vw;
  }
}

.p {
  font-weight: 500;
  font-family: var(--font-roboto);
  line-height: 125%;
  font-size: 4.2666666667vw;
}

@media (min-width: 800px) {
  .p {
    font-size: 1.2500000000vw;
    line-height: 133%;
  }
}

.p.bold {
  font-weight: 900;
  line-height: 125%;
}

@media (min-width: 800px) {
  .p.bold {
    line-height: 133%;
  }
}

.p-s {
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-roboto);
  font-size: 3.7333333333vw;
}

@media (min-width: 800px) {
  .p-s {
    font-size: 0.9722222222vw;
    line-height: 114%;
  }
}

.p-xs {
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-roboto);
  font-size: 3.2000000000vw;
}

@media (min-width: 800px) {
  .p-xs {
    font-size: 0.8333333333vw;
    line-height: 113%;
  }
}

.contrast {
  color: var(--theme-contrast);
}

.grey {
  color: var(--grey);
}

/* Theme classes */
.theme-light {
  --theme-primary: rgb(239, 239, 239);
  --theme-secondary: rgb(0, 0, 0);
  --theme-contrast: rgb(255, 152, 162);
  --theme-primary-transparent: rgb(239 239 239 / 0);
  --theme-secondary-transparent: rgb(0 0 0 / 0);
  --theme-contrast-transparent: rgb(255 152 162 / 0);
}

.theme-dark {
  --theme-primary: rgb(0, 0, 0);
  --theme-secondary: rgb(239, 239, 239);
  --theme-contrast: rgb(255, 152, 162);
  --theme-primary-transparent: rgb(0 0 0 / 0);
  --theme-secondary-transparent: rgb(239 239 239 / 0);
  --theme-contrast-transparent: rgb(255 152 162 / 0);
}

.theme-contrast {
  --theme-primary: rgb(255, 152, 162);
  --theme-secondary: rgb(0, 0, 0);
  --theme-contrast: rgb(239, 239, 239);
  --theme-primary-transparent: rgb(255 152 162 / 0);
  --theme-secondary-transparent: rgb(0 0 0 / 0);
  --theme-contrast-transparent: rgb(239 239 239 / 0);
}

/* Layout utilities */
.layout-block {
  max-width: var(--layout-width);
  margin-left: auto;
  margin-right: auto;
}

.layout-block-inner {
  padding-left: var(--layout-margin);
  padding-right: var(--layout-margin);
}

.layout-grid {
  display: grid;
  max-width: var(--layout-width);
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
  grid-gap: var(--layout-columns-gap);
}

.layout-grid-inner {
  display: grid;
  padding-left: var(--layout-margin);
  padding-right: var(--layout-margin);
  grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
  grid-gap: var(--layout-columns-gap);
}

/* Utility classes */
.aspect-ratio {
  position: relative;
  padding-bottom: calc(100% / var(--aspect-ratio));
  width: 100%;
  height: 0;
}

.aspect-ratio > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hidden-overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

@media (min-width: 800px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none !important;
  }
}

html:not(.has-scroll-smooth) .hide-on-native-scroll {
  display: none !important;
}

html.has-scroll-smooth .hide-on-smooth-scroll {
  display: none !important;
}

/* Global HTML styles */
html {
  font-family: var(--font-anton);
  scrollbar-width: thin;
}

html.nav {
  overflow: hidden;
}

html.lenis-stopped {
  overflow: hidden;
}

html.lenis {
  height: auto;
}

html.lenis.lenis-smooth {
  scroll-behavior: auto;
}

html.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

html.lenis.lenis-stopped {
  overflow: hidden;
}

html.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  min-height: 100vh;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--theme-contrast);
  color: var(--theme-primary);
}

svg.icon path[fill],
svg.icon rect[fill],
svg.icon circle[fill] {
  fill: currentColor;
}

svg.icon path[stroke],
svg.icon rect[stroke],
svg.icon circle[stroke] {
  stroke: currentColor;
}

.intro {
  overflow: hidden;
}

