/* 
 * Card Component
 * Migrated from card.module.scss to Tailwind CSS v4
 */

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--theme-secondary);
  border: 1px solid;
  aspect-ratio: 1 / 1;
  padding: 6.4000000000vw;
  width: 91.4666666667vw;
  background-color: var(--background);
  backdrop-filter: blur(5px);
}

.wrapper.inverted {
  color: var(--theme-primary);
  background-color: var(--theme-secondary);
}

@media (min-width: 800px) {
  .wrapper {
    width: calc((4 * var(--layout-column-width)) + ((4 - 1) * var(--layout-columns-gap)));
    padding: 1.6666666667vw;
  }
}

.wrapper .number {
  color: var(--theme-contrast);
  line-height: 90%;
  font-size: 14.9333333333vw;
}

@media (min-width: 800px) {
  .wrapper .number {
    font-size: 6.6666666667vw;
  }
}

.wrapper .text {
  text-transform: uppercase;
  font-family: var(--font-panchang);
  font-weight: 700;
  line-height: 100%;
  font-size: 5.3333333333vw;
}

@media (min-width: 800px) {
  .wrapper .text {
    font-size: 1.9444444444vw;
  }
}

.wrapper .text span {
  font-stretch: normal;
  font-weight: 600;
}

