/* 
 * Footer Component
 * Migrated from footer.module.scss to Tailwind CSS v4
 */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: var(--theme-secondary);
  padding: 5.3333333333vw 0 5.3333333333vw 0;
  min-height: auto;
  z-index: 1;
}

@media (min-width: 800px) {
  .footer {
    min-height: auto;
    padding: 2.7777777778vw 0 2.7777777778vw 0;
  }
}

.footer .top {
  position: relative;
  width: 100%;
  padding-bottom: 5.3333333333vw;
  align-items: center;
  z-index: 1;
}

@media (max-width: 800px) {
  .footer .top {
    display: flex;
  flex-direction: column;
  }
}

@media (min-width: 800px) {
  .footer .top {
    padding-bottom: 2.7777777778vw;
  }
}

.footer .top .first-line {
  margin: 0;
}

@media (min-width: 800px) {
  .footer .top .first-line {
    margin: 0;
    align-self: start;
    grid-column: 1 / span 7;
  }
}

.footer .top .shameless-plug {
  display: flex;
  flex-direction: column;
  align-self: start;
}

@media (min-width: 800px) {
  .footer .top .shameless-plug {
    text-align: end;
    grid-column: 9 / span 4;
  }
}

.footer .top .shameless-plug p:first-child {
  margin-bottom: 2.1333333333vw;
}

@media (min-width: 800px) {
  .footer .top .shameless-plug p:first-child {
    margin-bottom: 0.5555555556vw;
  }
}

.footer .top .cta {
  position: absolute;
  left: 0;
  bottom: 5.5555555556vw;
}

.footer .top .last-line {
  text-align: end;
  align-self: end;
  grid-column: 2 / -1;
}

.footer .bottom {
  width: var(--layout-width);
  margin: 0 auto;
  margin-top: calc(var(--mvw) * -20);
}

@media (max-width: 800px) {
  .footer .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .footer .bottom {
    display: flex;
  justify-content: space-between;
  align-items: center;
    margin-top: calc(var(--dvw) * -40);
  }
}

@media (min-width: 800px) {
  .footer .bottom .links .link:not(:first-child) {
    margin: 0;
    margin-left: 2.2222222222vw;
  }
}

@media (max-width: 800px) {
  .footer .bottom .links .link:not(:last-child) {
    display: block;
    margin-bottom: 4.2666666667vw;
  }
}

@media (max-width: 800px) {
  .footer .bottom .tm {
    text-align: end;
    align-self: end;
  }
}

.footer .bottom .tm span {
  vertical-align: text-top;
}

.footer .bottom .cta {
  grid-column: 1 / -1;
  margin-top: 6.4000000000vw;
}

