/* 
 * Layout Component
 * Migrated from layout.module.scss to Tailwind CSS v4
 */

.layout {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-primary);
  /* background-image: linear-gradient(180deg, #0B1230 0%, #0E173C 60%, #101E4B 100%); */
  color: var(--theme-secondary);
  min-height: 100vh;
}

.layout .main {
  flex-grow: 1;
}

